.base {
  height: 400px;
}

.forms {
  background-color: white;
  margin: 24px;
  padding: 24px;
  border: 1px solid lightgrey;
  border-radius: 4px;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
  p + p {
    margin-left: 4px;
  }
}

.form-login {
  background: white;
  padding: 10px 20px;
  margin-top: 50px;
  border-radius: 4px;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
  h2 {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 30px;
    text-align: center;
  }
  .btn {
    width: 100%;
    margin-bottom: 20px
  }
}
